.dashboard {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.dashboard::-webkit-scrollbar {
  display: none;
}
.loadingIndicator {
  text-align: center;
  font-weight: 600;
  font-size: large;
  margin-top: 10px;
}
