.navbar {
  background-color: white;
  padding: 1.25rem 0.75rem;
}
.filter-box {
  margin-left: 2%;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 0.3rem;
  box-shadow: 0px 2px whitesmoke;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0rem 0.5rem;
  width: fit-content;
}
.filter-box-wrapper {
  position: relative;
  width: fit-content;
}
.filter-options {
  top: calc(100% + 8px);
  left: 0;
  border: 1px solid;
  background-color: rgb(244, 245, 248);
  border: 1px solid rgb(167, 167, 167);
  border-radius: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: absolute;
  z-index: 10;
}

.filter-select {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  display: flex;
  min-width: 14rem;
  justify-content: space-between;
  & select {
    border: 1px solid gray;
    min-width: 6.5rem;
    padding: 1%;
  }
}
p {
  margin-top: 3px;
  margin-bottom: 3px;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
